---
layout: default 
title: Archive
---
            
          {% include subpage-header.html %} 
            <!-- contact form start -->
            <section id="privacy-form">
              <div class="container">
                  <div class="col-md-6 col-sm-12">
                {% include archive.html %}
                <br>
                {% include tag-archive.html %}
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <img id="archImg" src="../img/archive.png" alt="archive" />
                    </div>
                </div>
                
              </div>
            </section>

        
