    <!-- Wrapper Start -->
    <section id="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                  <h2>Lucas Stahl</h2>
                  <p>I’m a marketing manager and web developer working in the tech industry. I have 14+ years of marketing/sales experience and recently obtained a Master’s degree in Communications: New Media and Marketing at Southern New Hampshire University. Following my MA degree I completed a Full Stack Web Development Certificate at Northwestern University, in order to build on my digital skillset.</p>
                </div>
                <p>I have a passion for videography and photography. I’m looking to use my passion and experience, along with my education to further my digital marketing career.</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="block">
                <img src="img/LukeAbout.jpg" alt="Img">
              </div>
            </div><!-- .col-md-5 close -->
          </div>
        </div>
      </section>

      <!-- update -->
