<section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>Technology is constantly evolving</h2>
          <p>I started coding because I wanted to build on my digital skill set.</p>
          <p>Throughout my marketing career, I’ve always been tasked with project managing the digital components of each marketing campaign. I’ve also been accountable for the maintenance of my companies online digital presence when it comes to what we offer. Project managing is one thing, but I wanted to dive deeper and be given the keys to the kingdom.  Having a programming background enhances my ability to not only project manage but make the changes necessary to improve brand recognition digitally.</p>
          <p>Digital marketing is the way of the future, and more traditional marketing methods will become obsolete. My goal is to continue to learn and adapt to the revolving door that is the tech industry.</p>
          <p>Take a look at some of my most recent work.</p>
          <a href="https://stahlwalker.github.io/lucasstahl/portfolio.html" class="btn btn-view-works">Portfolio</a>
        </div>
      </div>
    </div>
  </section>
