<!-- Blog Move Banner -->
<section style="background-color: #f8d7da; border-bottom: 3px solid #f5c6cb; padding: 20px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div style="padding: 15px;">
          <h3 style="color: #721c24; margin-bottom: 10px; font-weight: bold;">
            📢 Blog Has Moved!
          </h3>
          <p style="color: #721c24; font-size: 16px; margin-bottom: 15px;">
            I've moved my blog to a new home. Check out all my latest posts at my new site!
          </p>
          <a href="https://lukestahl.io/blog/" class="btn btn-default btn-call-to-action" style="background-color: #721c24; border-color: #721c24; color: #ffffff;">
            Visit New Blog
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
