   <!-- Call to action Start -->
   <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>I love to share my experiences and new technologies.</h2>
            <p>Web design is tricky, but incredibly satisfying when all your hard work comes together.  Take a look at my blog and join me as I tackle web programming.</p>
            <a class="btn btn-default btn-call-to-action" href="https://stahlwalker.org/contact" >Connect With Me</a>
          </div>
        </div>
      </div>
    </div>
  </section>
