<div class="footer-manu">
  <ul>
    <li><a href="https://stahlwalker.org/about">About</a></li>
    <li><a href="https://stahlwalker.org/contact">Contact</a></li>
    <li><a href="https://stahlwalker.org/privacy">Privacy Policy</a></li>
    <li><a href="https://stahlwalker.org/terms">Terms</a></li>
    <li><a href="https://stahlwalker.org/sitemap">Site Map</a></li>
    <!-- <li><a href="#">How it works</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms</a></li> -->
  </ul>
</div>