  <!-- Slider Start -->
  <section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="block">
            <h1 class="animated fadeInUp">Stahlwalker</h1>
            <!-- <p class="animated fadeInRight">Web Design</p> -->
            <p class="animated fadeInRight">Web Design & Digital Marketing</p>
          </div>
          <!-- <h1 class="animated fadeInUp">Stahlwalker <span class="smallFont">Web Design</span></h1> -->
        </div>
      </div>
    </div>
  </section>
