<ul class="social-icons">
    <li>
      <a href="plus.google.com/+LucasStahl"><i class="fa fa-google"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/lucas.stahl.75"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lucasstahl"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="https://www.pinterest.com/sharpnes18/"><i class="fa fa-pinterest"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/LucasStahl11"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="instagram.com/stahlwalker11"><i class="fa fa-instagram"></i></a>
    </li>
    <li>
      <a href="mailto:STAHL1109@GMAIL.COM"><i class="fa fa-envelope"></i></a>
    </li>
  </ul>
