<ul class="social-icons">
    <li>
      <a href="https://www.facebook.com/Stahlwalker"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://x.com/LukeStahl11"><i class="fa-brands fa-x-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lucasstahl"><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li>
      <a href="https://www.pinterest.com/sharpnes18/"><i class="fa-brands fa-pinterest"></i></a>
    </li>
    <li>
      <a href="https://instagram.com/stahlwalker11"><i class="fa-brands fa-instagram"></i></a>
    </li>
    <li>
        <a href="https://github.com/Stahlwalker"><i class="fa-brands fa-github"></i></a>
    </li>
    <!-- <li>
      <a href="mailto:STAHL1109@GMAIL.COM"><i class="fa-solid fa-envelope"></i></a>
    </li> -->
  </ul>
