 
    <!-- Content Start -->
    <section id="testimonial">
        <div class="container">
          <div class="row">
            <div class="section-title text-center">
              <h2>Interesting things to know about me</h2>
              <p>I've lived in the Midwest my whole life, however I travel a lot. I'm happily married, expecting my first child (Baby Boy) and have the greatest dog in the whole wide world. I'm a huge Green Bay Packers fan for those football junkies out there. My wife and I travel to a new stadium every year, we like to call it <a href="https://stahlwalker.github.io/greenbaypackers/">Packers Nation Invasion.</a> Go Pack Go!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="block">
                <ul class="counter-box clearfix">
                  <li>
                    <div class="block">
                      <i class="ion-ios-person"></i>
                      <h4 class="counter">39</h4>
                      <span>Years Old</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-monitor"></i>
                      <h4 class="counter">17</h4>
                      <span>Years of Marketing Experience</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-compose-outline"></i>
                      <h4 class="counter">15</h4>

                      <span>Blog Posts Written</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-americanfootball"></i>
                      <h4 class="counter">6</h4>
                      <span>NFL Stadiums Visited</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial-carousel">
                <div id="testimonial-slider" class="owl-carousel">
                  <div>
                      <img src="img/quotes2.png" alt="IMG">
                      <p>My father knowing my love for all things Superman, shared with me that "Stahl in German means STEEL, therefore you are the Man of Stahl."</p>
                      <div class="user">
                        <img src="img/Dad9.png" alt="People">
                        <p><span>Floyd Stahl</span>Father/Mentor</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/quotes2.png" alt="IMG">
                      <p>"Keep praying. It will come true, it may not be in the exact package you wanted but it'll be what is best for you."</p>
                      <div class="user">
                        <img src="img/Jackie12.png" alt="People">
                        <p><span>Jaclyn Stahl</span> Wife/Best Friend</p>
                      </div>
                  </div>
                  <!-- <div> -->
                    <!-- <img src="img/cotation.png" alt="IMG">
                      <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                      <div class="user">
                        <img src="img/item-img1.jpg" alt="Pepole">
                        <p><span>Rose Ray</span> CEO-Themefisher</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/cotation.png" alt="IMG">
                      <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                      <div class="user">
                        <img src="img/item-img1.jpg" alt="Pepole">
                        <p><span>Rose Ray</span> CEO-Themefisher</p>
                      </div> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
