 
    <!-- Content Start -->
    <section id="testimonial">
        <div class="container">
          <div class="row">
            <div class="section-title text-center">
              <h2>Interesting things to know about me</h2>
              <p>I've lived in the Midwest my whole life and am happily married with best damn dog in the whole world.  His name is Lambeau and yes, you guessed it, I'm a huge Green Bay Packers fan. My family and I visit a new stadium every year as a Packers Nation Invasion</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="block">
                <ul class="counter-box clearfix">
                  <li>
                    <div class="block">
                      <i class="ion-ios-person"></i>
                      <h4 class="counter">35</h4>
                      <span>Years Old</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-monitor"></i>
                      <h4 class="counter">11</h4>
                      <span>Years of Marketing Experience</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-compose-outline"></i>
                      <h4 class="counter">15</h4>
                      <span>Blog Posts Written</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-americanfootball"></i>
                      <h4 class="counter">5</h4>
                      <span>NFL Stadiums Visited</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial-carousel">
                <div id="testimonial-slider" class="owl-carousel">
                  <div>
                      <img src="img/quotes2.png" alt="IMG">
                      <p>"I created this blog because I believe it will help build on my technical skillset and hopefully help others along the way."</p>
                      <div class="user">
                        <img src="img/luke.jpg" alt="Pepole">
                        <p><span>Lucas Stahl</span> Author</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/quotes2.png" alt="IMG">
                      <p>"This Blog created an....."</p>
                      <div class="user">
                        <img src="img/jackie.jpg" alt="Pepole">
                        <p><span>Jaclyn Stahl</span> Wife</p>
                      </div>
                  </div>
                  <!-- <div> -->
                    <!-- <img src="img/cotation.png" alt="IMG">
                      <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                      <div class="user">
                        <img src="img/item-img1.jpg" alt="Pepole">
                        <p><span>Rose Ray</span> CEO-Themefisher</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/cotation.png" alt="IMG">
                      <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                      <div class="user">
                        <img src="img/item-img1.jpg" alt="Pepole">
                        <p><span>Rose Ray</span> CEO-Themefisher</p>
                      </div> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
